@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Bitcube</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2> Welcome to Bitcube Training Facility</h2>
        <p>This is the web site for Bitcube! </p>

    </div>
</div>